{extends 'default.latte'}
{block #drobecky4} » {$titul}{block #drobecky5}{/block}{/block}

{block #content}
{include 'helpTypes.latte'}
<h1 n:block="title">{$titul}</h1>
<div class="uform" style="position:relative; width:800px;padding-top:62px;">
	{control kalkForm}
</div>
{include 'helpKalk.latte'}
