<script type='text/javascript'>

	$({$cselect}).change(function() {
		var ms = $(this).find(":selected").text();
		var mn = $({$ctext}).val();
		//if (mn == "") { 
			$({$ctext}).val(ms); 
		//}
	});

	$(document).on('click','input[type=text]',function(){ this.select(); });
	$(document).on('click','textarea',function(){ this.select(); });
</script>		
