{extends 'default.latte'}
{block #drobecky4} » {$titul}{block #drobecky5}{/block}{/block}

{block #content}

<h1 n:block="title">{$titul}</h1>
<h3>{$company}</h3>

{if $item}
	<p>Opravdu chcete produkt <b>{$item->nazev}</b> přiřadit nabídce: <b>{$anabidka}</b>?</p>
	{control assignForm}

{else}
	<p>Produkt nebyl nalezen.</p>
{/if}
