{extends 'default.latte'}
{block #drobecky4} » {$titul}{block #drobecky5}{/block}{/block}

{block #content}

<h1 n:block="title">{$titul} č. {$item->id} - {$item->nazev}</h1>
<h3>{$company}</h3>

{if $item}
	<div class="flash exclamation">
		<p>Opravdu chcete smazat tento produkt:{$item->nazev}?<br />
		Budou smazány i kusovníky tohoto produktu a operace TPV.</p>
		{control deleteForm}
	</div>

{else}
	<p>Položka nebyla nalezena.</p>
{/if}
