{extends 'default.latte'}
{block #drobecky4} » {$titul}{block #drobecky5}{/block}{/block}
{block #content}

<h1 n:block="title">{$titul}</h1>

{if $contact}
	<p>Opravdu chcete smazat tento záznam?</p>
	{control deleteAmount}

{else}
	<p>Položka nebyla nalezena.</p>
{/if}
