#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague
	database:
		driver: sqlsrv
		#host: .\SQLEXPRESS2
		#username: admin
		#password: aems
		host: MikroSQL
		username: ems
		password: SqlPass4Ems
		database: DEMS
		#database: ems
		charset: utf-8
		profiler: TRUE
	k2:
		driver: sqlsrv
		host: MIKRO7
		database: K2_MIKRO
		username: mra
		password: vm123456
		#host: .\SQLEXPRESS2
		#database: k2
		#username: ems
		#password: aems
		charset: utf-8
		profiler: TRUE
#nasledujici parametry nemzat - jen nastavit todos: true/false
	myvar:
		todos: true

#název a adresa firmy uživatele
	company:
		name: Mikroelektronika spol. s r. o.
		street: Dráby 849
		city: Vysoké Mýto
		zip: 566 01
		country: Czech republic

	services:
		robotLoader:
			#option:
				#directory: [%appDir%, %libsDir%]
			run: true

		model:
			class: Model
			arguments: [@database]

		database:
			class: DibiConnection
			arguments: [%database%]

		k2:
			class: DibiConnection
			arguments: [%k2%]

		authenticator:
			factory: [@model, createAuthenticatorService]

		authorizatorFactory:
			class: AuthorizatorFactory

		authorizator:
			factory: [@authorizatorFactory, create]

		session:
			arguments: [ [ expiration: "+ 2 days" ] ]


production < common:

development < common:
