{extends 'default.latte'}
{block #drobecky4} » {$titul}{block #drobecky5}{/block}{/block}

{block #content}

<h1 n:block="title">{$titul}</h1>

{if $item}
	<p>Opravdu chcete smazat tuto nabídku: {$item->popis}?</p>
	{control deleteForm}

{else}
	<p>Položka nebyla nalezena.</p>
{/if}
