<div id="pgraph" class="popgr" style="position: absolute; top: 140px; left: 35%; ">
	<p style="color:darkred; font-size: large;"><b>VYSKYTLA SE CHYBA - graf nelze vykreslit</b></p>
	<div style="display:block;width:100%;text-align:left;"> 
		
		data = {$pdata}

	</div>
</div>
{include 'graval.latte', pdata => $pdata}
						